.proj-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  margin: 2rem;
  margin-top: 5rem;
  padding: 1rem;
  text-decoration: none;
}
.proj-header {
  font-weight: bolder;
  color: #000;
  font-size: 3rem;
}
.proj-date {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.proj-detail {
  margin-top: 3rem;
  font-size: 1.5rem;
}
