.users {
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.user-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  color: var(--header-color);
  margin-top: 0.7rem;
}
.user-stat {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: green;
  margin-right: 0.2rem;
}
