.App {
  margin-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: inherit;
  align-items: inherit;
}
.statsidebar-whole {
  align-self: flex-end;
}
